<!DOCTYPE html>
<html>
<body>

<form action="/recommander/main">
  <br>
  Movies:
  <input type="text" name="m1" value="Dumb & Dumber">
  <input type="text" name="m2" value="The game">
  <input type="text" name="m3" value="Lucky">
  <br>
  <br>
  Ratings:
  <input type="text" name="r1" value="5">
  <input type="text" name="r2" value="4">
  <input type="text" name="r3" value="4">
  <br>
  <br>
  <input type="submit" value="Submit">
</form> 

<p> Recommended movies for you: </p>
</body>
</html>


